extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main 
    include ../../partials/swiperintroduce.pug
    .container.my-3.hot
        .row 
            .col-12 
                +box-head("⚡️ Sản phẩm bán chạy 🔥")
        +product-grid(productsFeatured)


    .container.my-3 
        .row 
            .col-12 
                +box-head("Sản phẩm mới")
        +product-grid(productsNew)
        button#see-more-btn Xem thêm sản phẩm