mixin sort-select()
    div(sort)
        select(
            name="sort"
            class="form-control"
            sort-select
            ) 
            option(disabled selected) -- Chọn hành động --
            option(value="price-desc") Giá giảm dần
            option(value="price-asc") Giá tăng dần
            option(value="title-asc") Tiêu đề A-Z
            option(value="title-desc") Tiêu đề Z-A
